/**
 * Position icons into circle (SO)
 *
 */

#circle-book {
    background-image: url(../img/circle/Books.jpg);
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainContainer{
    text-align: center;
}

#divCircle {
    background-image: url(../img/circle/krem.png);
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 750px;
    height: 750px;
    position: relative;
    margin-right: 280px;

}

#divCircle img{
    position: absolute;
    width: 35%;
    height: 35%;
}

#middleBubble {
    position: absolute;
    top:50%;
    right: 2%;
    transform: translateY(-50%);
    background: url(../img/circle/9.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #252525;
    font-size: 1em;
    text-align:center;
    height: 60%;
    width: 100%;
    margin: auto;
    position: absolute;

}


}

#middleBubble b{
    font-size: 1em;
}

#middleBubble p{
    margin: 0px;
    margin-top:20%;
    margin-left: 6%;
}


div.container.hidden-lg.hidden-md.hidden-sm div.row div.col-sm-4.col-xs-4 a img.img-circle {
    display:block;margin:10px auto;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {

    padding-top: 50px;
    padding-bottom: 20px;
}

/*==================================================

 Navbar Section ============================================*/

.navbar.navbar-default  {
    background-image: url(../img/navbar/nav.png);
    background-repeat: repeat;
    height: 70px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 70px;

}

.navbar.navbar-default ul li a {
    color: #FFE4B5;
    padding-left:25px;
    padding-top: 30px;
}

#ribbon {
  position: absolute;
  top: 46px; /* height minus box-shadow */
  width: 190px;
  height: 50px;
  background: steelblue;
  background-image: linear-gradient(to left, steelblue, /*rgba(255,255,255,0.5)*/, steelblue);
  background-size: 20px 100%;
  background-repeat: no-repeat;
  background-position: 125px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border: 1px dashed black;
  border-width: 1px 0 1px 1px;
  box-shadow: 0 0 0 4px steelblue;
}

#ribbon:before {
  position: absolute;
  top: 8px;
  left: -21px;
  display: block;
  content: ' ';
  width: 33px;
  height: 33px;
  background: steelblue;
  transform: rotate(45deg);
  border: 1px dashed black;
  box-shadow: 0 0 0 4px steelblue;
  border-width: 0 0 1px 1px;
}

#ribbon p {
  position: relative;
  padding:18px 0 18px;
  display: inline-block;
  z-index: 1;
  font-family:"Indie Flower", sans-serif;
  font-size: 1.1em;
  color: rgba(255,255,255,0.9);
  line-height: 0.8em;
}

#ribbon {
    margin-left: 95px;
}

.logoleft {
    margin-left: 40px;
    padding-bottom: 25px;
}

.mvleft {
    margin-right: -25px;
}

.input-group {
    padding-top:10px;
    padding-left: 25px;
    position: absolute;
}
/*=================================================*/
/*=========== Carousel Section ====================*/

/*.page-header {
  margin: auto;
}*/

#karousels {
  background: -webkit-linear-gradient(#FFF8DC, #CD8500); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFF8DC, #CD8500); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFF8DC, #CD8500); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFF8DC, #CD8500); /* Standard syntax */
}

#myCarousel {
  margin: auto;
  width: 940px;
  height: 650px;
  padding-top: 35px;
  background-color: transparent;
}

#myCarousel .carousel-indicators {
  margin: 10px 0 0;
  overflow: auto;
  position: static;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

#myCarousel .carousel-indicators li {
  background-color: transparent;
  -moz-webkit-border-radius: 0;
  -ms-webkit-border-radius: 0;
  -o-webkit-border-radius: 0;
  webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  height: auto;
  margin: 0;
  width: auto;
}

#myCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}

#myCarousel .carousel-indicators li.active img {
  opacity: 1;
}

#myCarousel .carousel-indicators li:hover img {
  opacity: 0.75;
}

#myCarousel .carousel-outer {
  position: relative;
}
/*=================================================
===================================================*/

/*==================================================

 Table Section ============================================*/

#pricing_table {
    background-image: url(../img/table/Books1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: px;
    padding-top: 25px;
}

.panel {
    transition: padding 0.5s;
    -moz-transition: padding 0.5s; /* Firefox 4 */
    -webkit-transition: padding 0.5s; /* Safari and Chrome */
    -o-transition: padding 0.5s; /* Opera */
    -ms-transition:padding 0.5s; /* IE9 (maybe) */

}

.panel:hover {
  padding:10px;
}


/*==================================================*/

/*==================================================

 Tangerine Section ============================================*/

#about {
    background-image: url(../img/paper/paperback1.png);
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:50px ;
}


#market {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
}

.btn.btn-default {
  background-color:#FFE4B5;
}


.panel.panel-default {
    font-family: 'Tangerine', serif;
    font-size: 1.5em;
    box-shadow: 2px 4px 16px 10px #B0B0B0;
}

/*==================================================*/

/*================== Mega Footer ===================*/

#footer {
    /*background-image: url(../img/);*/
    background-color: #FFFAF0;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
}


#boot {
    background-image: url(../img/footer/footer.png);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
}

.text {
  padding-top: 45px;
  color: #FFE4B5;
}

ul.socialNetwork {
  padding-left: 20px;
}

ul.socialNetwork li {
  display: inline-block;
}



/*=================================================*/

#claw {
  margin:auto;
  padding-top: 150px;
}

/*=========== Icons ========*/

.icons {
  background-color:;
  border-radius: 15px;
  padding-top: 70px;
}

.acer {
  color: #FF6600;
}

.acer:hover {
  color: #FFCC00;
}

/*=================================*/

/*=========== Lists ===========*/

.lists {
  background-color:;
  border-radius: 15px;
}

.up {
 padding-bottom: 5px;
}


/*=================================*/

/*========== Podnaslov-section ====*/

.podnaslov {
  background-color: ;
  border-radius: 15px;
}

.inner-div-3 {
  margin-top: px;
  background-color: yellow;
  height: 400px;

}

.naslov {
  background-color: green;
  height: 70px;
}

.naslov h1 {
  padding-top: 15px;
}

.section9, .section10, .section11, .section12 {
  margin-top: 200px;
}
/*=================================*/


/*========== Contact Form Section ==========*/



/*===========================================*/

/*=================================================

Media Query Section ================================*/

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    table.table tr.none {
        display: none;
    }



}
