{% extends "base.html" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!--SERVICES SECTION -->


        <div class="container-fluid" id="circle-book">
          <div class="row">
            <div class="hidden-xs hidden-sm">
              <div class="center-block" id="divCircle">
                  <div data-scrollreveal="enter bottom, wait 3.3s" id="middleBubble">&nbsp;</div>

                 <span data-scrollreveal="enter right, wait 1.3s">
                     <img class="img-circle homepageGridDefault" src="static/img/circle/home-all-icon-off.png" id="all" data-bubble1="all:" data-bubble2="discounted lab work<br />on-site">
                 </span>

                 <span data-scrollreveal="enter right, wait 1.5s">
                     <img class="img-circle " src="static/img/circle/home-cover-icon-off.png" id="cover" data-bubble1="Lorem cover<br />personalized<br />lorem:" data-bubble2="Lorem Ipsum,<br />Ipsim Lorem, lore, lorem">
                 </span>

                 <span data-scrollreveal="enter bottom, wait 1.7s">
                     <img class="img-circle" src="static/img/circle/home-diy-icon-off.png" id="diy" data-bubble1="diy:" data-bubble2="Lorem Ipsum,<br />Ipsim Lorem, lore, lorem">
                  </span>

                  <span data-scrollreveal="enter left, wait 1.9s">
                      <img class="img-circle" src="static/img/circle/home-marketing-icon-off.png" id="marketing" data-bubble1="marketing:" data-bubble2="Lorem Ipsum,<br />Ipsim Lorem, lore, lorem">
                  </span>

                  <span data-scrollreveal="enter left, wait 2.1s">
                      <img class="img-circle" src="static/img/circle/home-other-icon-off.png" id="other" data-bubble1="other plans:" data-bubble2="Lorem Ipsum,<br />Ipsim Lorem, lore, lorem">
                  </span>

                  <span data-scrollreveal="enter left, wait 2.3s">
                      <img class="img-circle" src="static/img/circle/home-special-icon-off.png" id="special" data-bubble1="special for you:" data-bubble2="Lorem Ipsum,<br />Ipsim Lorem, lore, lorem">
                  </span>

                  <span data-scrollreveal="enter top, wait 2.5s">
                      <img class="img-circle" src="static/img/circle/home-vip-icon-off.png" id="vip" data-bubble1="you are Vip:" data-bubble2="Lorem Ipsum,<br />Ipsim Lorem, lore, lorem">
                  </span>

                  <span data-scrollreveal="enter right, wait 2.7s">
                      <img class="img-circle" src="static/img/circle/home-home-icon-off.png" id="designe" data-bubble1:"designe from us:" data-bubble2="Lorem Ipsum,<br />Ipsim Lorem, lore, lorem">
                  </span>

              </div>
            </div>
          </div>
        </div>

    <!--END SERVICES SECTION -->
<div class="container-fluid" id="karousels">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->

      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="static/img/carousel/Bannerdesign/Bannerdesign.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-outer">
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/Bannerdesign/banner1.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/Bannerdesign/DeSeanJones1.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/Bannerdesign/fbad3.jpg"  alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/Bannerdesign/version1.jpg"  alt="Fifth slide">
          <div class="container">
            <div class="carousel-caption">
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/oneside/6.jpg" alt="Six slide">
          <div class="container">
            <div class="carousel-caption">
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/oneside/12.jpg" alt="Seven slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/oneside/17.jpg" alt="Eight slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/oneside/21.jpg" alt="Nine slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/oneside/version1.jpg" alt="Ten slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/twosides/2.jpg" alt="Eleven slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/twosides/28.jpg" alt="Twelve slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/twosides/36.jpg" alt="Thirteen slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
         <div class="item">
             <img src="static/img/carousel/twosides/36.jpg" alt="Fourteen slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
         <div class="item">
             <img src="static/img/carousel/twosides/37.jpg" alt="Fifthteen slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/ebookcover/photo.jpg" alt="Sixteen slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/ebookcover/Diet3.jpg" alt="Seventeen slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/ebookcover/front.jpg" alt="Eighteen slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/ebookcover/Manager.jpg" alt="Nineteen slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/ebookcover/version3.jpg" alt="Twenty slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/flyer/1.jpg" alt="Twentyone slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/flyer/2.jpg" alt="Twentytwo slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/flyer/3.jpg" alt="Twentythree slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/flyer/4.jpg" alt="Twentyfour slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/flyer/5.jpg" alt="Twentyfive slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/logo/1.jpg" alt="Twentysix slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/logo/5.jpg" alt="Twentyseven slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/logo/16.jpg" alt="Twentyeight slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/logo/20.jpg" alt="Twentynine slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/logo/23.jpg" alt="Thirty slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/fullcover/2.jpg" alt="Thirtyone slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/fullcover/5.jpg" alt="Thirtytwo slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/fullcover/9.jpg" alt="Thirtythree slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/fullcover/11.jpg" alt="Thirtyfour slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
            <img src="static/img/carousel/fullcover/12.jpg" alt="Thirtyfive slide">
          <div class="container">
            <div class="carousel-caption">

              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <!--Controls-->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
     <!-- Indicators -->
    <ol class='carousel-indicators'>
        <li data-target='#myCarousel' data-slide-to='0' class='active thumbnail'><img src="static/img/carousel/Bannerdesign/100x50/Bannerdesign.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='1'><img src="static/img/carousel/Bannerdesign/100x50/banner1.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='2'><img src="static/img/carousel/Bannerdesign/100x50/DeSeanJones 1.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='3'><img src="static/img/carousel/Bannerdesign/100x50/fbad3.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='4'><img src="static/img/carousel/Bannerdesign/100x50/version1.jpg"  alt='' /></li>

        <li data-target='#myCarousel' data-slide-to='5'><img src="static/img/carousel/oneside/100x50/6.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='6'><img src="static/img/carousel/oneside/100x50/12.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='7'><img src="static/img/carousel/oneside/100x50/17.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='8'><img src="static/img/carousel/oneside/100x50/21.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='9'><img src="static/img/carousel/oneside/100x50/version1.jpg" alt='' /></li>

        <li data-target='#myCarousel' data-slide-to='10'><img src="static/img/carousel/twosides/100x50/2.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='11'><img src="static/img/carousel/twosides/100x50/28.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='12'><img src="static/img/carousel/twosides/100x50/35.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='13'><img src="static/img/carousel/twosides/100x50/36.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='14'><img src="static/img/carousel/twosides/100x50/37.jpg" alt='' /></li>

        <li data-target='#myCarousel' data-slide-to='15'><img src="static/img/carousel/ebookcover/100x50/photo.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='16'><img src="static/img/carousel/ebookcover/100x50/Diet3.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='17'><img src="static/img/carousel/ebookcover/100x50/front.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='18'><img src="static/img/carousel/ebookcover/100x50/Manager.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='19'><img src="static/img/carousel/ebookcover/100x50/version3.jpg" alt='' /></li>

        <li data-target='#myCarousel' data-slide-to='20'><img src="static/img/carousel/flyer/100x50/1.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='21'><img src="static/img/carousel/flyer/100x50/2.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='22'><img src="static/img/carousel/flyer/100x50/3.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='23'><img src="static/img/carousel/flyer/100x50/4.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='24'><img src="static/img/carousel/flyer/100x50/5.jpg" alt='' /></li>

        <li data-target='#myCarousel' data-slide-to='25'><img src="static/img/carousel/logo/100x50/1.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='26'><img src="static/img/carousel/logo/100x50/5.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='27'><img src="static/img/carousel/logo/100x50/16.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='28'><img src="static/img/carousel/logo/100x50/20.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='29'><img src="static/img/carousel/logo/100x50/23.jpg" alt='' /></li>

        <li data-target='#myCarousel' data-slide-to='30'><img src="static/img/carousel/fullcover/100x50/2.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='31'><img src="static/img/carousel/fullcover/100x50/5.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='32'><img src="static/img/carousel/fullcover/100x50/9.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='33'><img src="static/img/carousel/fullcover/100x50/11.jpg" alt='' /></li>
        <li data-target='#myCarousel' data-slide-to='34'><img src="static/img/carousel/fullcover/100x50/12.jpg" alt='' /></li>
    </ol>

  </div><!-- /.carousel -->
</div>

<!--===========================================
  === Pricing Table Section ===========================================================-->

<div class="container" id="pricing_table">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="text-center">SMALL TEAM</h3>
                    <p class="text-center">MAX TEAM SIZE 25</p>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:30px"><strong>$20/month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                    </li>
                </ul>
                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="text-center">MEDIUM TEAM</h3>
                    <p class="text-center">MAX TEAM SIZE 50</p>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:30px"><strong>$40/month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                    </li>
                </ul>
                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="text-center">LARGE TEAM</h3>
                    <p class="text-center">MAX TEAM SIZE 100</p>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:30px"><strong>$60/month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                    </li>
                </ul>
                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="text-center">HUGE TEAM</h3>
                    <p class="text-center">MAX TEAM SIZE 300</p>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:30px"><strong>$100/month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                    </li>
                </ul>
                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
            </div>
        </div>
    </div>
</div>


<!--== end section ===================================================-->
  <!--=================================================
  == Tangerine Section ===========================================================-->
<div class="container" id="about">
  <div class="row">
        <div class="col-md-6 col-md-offset-3">
         <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              About Us!
            </a>
            <div class="collapse" id="collapseExample">
              <div class="panel panel-default">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              <button class="btn btn-default hidden-lg" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Close it!
              </button>
            </div>
            </div>
          </div>
        </div><!-- /.col-md-6 col-md-offset -->

<!-- Three columns of text below the carousel -->
      <div class="row" id="market">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Our Team!</h2>
          <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExampleOne" aria-expanded="false" aria-controls="collapseExampleOne">
            Founder and CEO!
          </a>
          <div class="collapse" id="collapseExampleOne">
            <div class="panel panel-default">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              <button class="btn btn-default hidden-lg" type="button" data-toggle="collapse" data-target="#collapseExampleOne" aria-expanded="false" aria-controls="collapseExampleOne">
                Close it!
              </button>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Our Team!</h2>
          <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExampleTwo" aria-expanded="false" aria-controls="collapseExampleTwo">
            Lead Writer!
          </a>
          <div class="collapse" id="collapseExampleTwo">
            <div class="panel panel-default">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              <button class="btn btn-default hidden-lg" type="button" data-toggle="collapse" data-target="#collapseExampleTwo" aria-expanded="false" aria-controls="collapseExampleTwo">
                Close it!
              </button>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Our Team!</h2>
          <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExampleThree" aria-expanded="false" aria-controls="collapseExampleThree">
            Engineer and Designer!
          </a>
          <div class="collapse" id="collapseExampleThree">
            <div class="panel panel-default">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              <button class="btn btn-default hidden-lg" type="button" data-toggle="collapse" data-target="#collapseExampleThree" aria-expanded="false" aria-controls="collapseExampleThree">
                Close it!
              </button>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
  </div>
</div><!--== end section ======================================================-->
{% endblock %}
