<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine|Indie Flower|Droid+Sans">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
         <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
                    <li class="hidden-xs">
                      <a href="#"></a>
                    </li>
                    <li class="hidden-xs">
                      <a href="#"></a>
                    </li>
                    <li class="hidden-xs">
                      <a href="#"></a>
                    </li>
                    <li class="hidden-xs">
                      <a href="#"></a>
                    </li>
                    <li id="ribbon" class="hidden-xs">
                      <p>Beyond Book Bussines</p>
                    </li>
                    <li class="hidden-xs logoleft">
                      <a href="#"><img style="height: 30px; margin-top: -5px;" class="img-responsive" alt="" src="img/logo/Logo.png"></a>
                    </li>
                    <li class="home1 mvleft">
                        <a href="#">Home</a>
                    </li>
                    <li class="hidden-xs diamond1 mvleft">
                      <a href="#">&#9830</a>
                    </li>
                    <li class="prot1 mvleft">
                        <a href="#">Protfolio</a>
                    </li>
                    <li class="hidden-xs mvleft">
                      <a href="#">&#9830</a>
                    </li>
                    <li class="mvleft">
                        <a href="#">Membership Plan</a>
                    </li>
                    <li class="hidden-xs mvleft">
                      <a href="#">&#9830</a>
                    </li>
                    <li class="mvleft">
                        <a href="#">About Us</a>
                    </li>
                    <li class="hidden-xs mvleft">
                      <a href="#">&#9830</a>
                    </li>
            <li class="dropdown hidden-lg">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i></button>
              </span>
            </div><!-- /input-group -->
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav >

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container-fluid" id="claw">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-2 icons" role="">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td class="warning"><a class="btn btn-lg acer" href="">Book Designe</a></td>
              </tr>
              <tr>
                <td class="warning"><a class="btn btn-lg acer" href="">Cover Designe</a></td>
              </tr>
              <tr>
                <td class="warning"><a class="btn btn-lg acer" href="">Marketing & Promotions</a></td>
              </tr>
              <tr>
                <td class="warning"><a class="btn btn-lg acer" href="">All in One</a></td>
              </tr>
              <tr>
                <td class="warning"><a class="btn btn-lg acer" href="">VIP Only</a></td>
              </tr>
              <tr>
                <td class="warning"><a class="btn btn-lg acer" href="">Other Services</a></td>
              </tr>
              <tr>
                <td class="warning"><a class="btn btn-lg acer" href="">DIY</a></td>
              </tr>
              <tr>
                <td class="warning"><a class="btn btn-lg acer" href="">Special Offers</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- In this section evert btn class will toggle/display text in the podnaslov section -->
        <div class="col-md-2 col-md-push-1 lists">
          <div class="inner-div">
	   <table class="table table-striped">
	      <thead>
		<tr>
		  <th>Logo</th>
                </tr>
              </thead>
	     <thead>
		<tr>
		  <th class="text-center">Podnaslov</th>
                </tr>
              </thead>
              <tbody>
                <tr class="up">
		  <td><a class="btn btn-md" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 1 </span></td>
	        </tr>
		<tr class="up">
		  <td><a class="btn btn-md" role="button" data-toggle="collapse" href="#row2" aria-expanded="false" aria-controls="row2"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 2 </span></td>
		</tr>
	      </tbody>
	      <thead>
		<tr>
		  <th class="text-center">Podnaslov</th>
                </tr>
              </thead>
              <tbody>
                <tr class="up">
		  <td><a class="btn btn-md" role="button" data-toggle="collapse" href="#row3" aria-expanded="false" aria-controls="row3"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 1 </span></td>
	        </tr>
		<tr class="up">
		  <td><a class="btn btn-md" role="button" data-toggle="collapse" href="#row4" aria-expanded="false" aria-controls="row4"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 2 </span></td>
		</tr>
              </tbody>
	      <thead>
		<tr>
		  <th class="text-center">Podnaslov</th>
                </tr>
              </thead>
              <tbody>
                <tr class="up">
		  <td><a class="btn btn-md" role="button" data-toggle="collapse" href="#row5" aria-expanded="false" aria-controls="row5"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 1 </span></td>
	        </tr>
		<tr class="up">
		  <td><a class="btn btn-md" role="button" data-toggle="collapse" href="#row6" aria-expanded="false" aria-controls="row6"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 2 </span></td>
		</tr>
	      </tbody>
	      <thead>
		<tr>
		  <th class="text-center">Podnaslov</th>
                </tr>
              </thead>
              <tbody>
                <tr class="up">
		<td><a class="btn btn-md" role="button" data-toggle="collapse" href="#row7" aria-expanded="false" aria-controls="row7"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 1 </span></td>
	        </tr>
		<tr class="up">
		<td><a class="btn btn-md" role="button" data-toggle="collapse" href="#row8" aria-expanded="false" aria-controls="row8"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 2 </span></td>
		</tr>
              </tbody>
	      <thead>
		<tr>
		  <th class="text-center">Podnaslov</th>
                </tr>
              </thead>
              <tbody>
                <tr class="up">
		<td><a class="btn btn-md" role="button" data-toggle="collapse" href="#row9" aria-expanded="false" aria-controls="row9"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 1 </span></td>
	        </tr>
		<tr class="up">
		<td><a class="btn btn-md" role="button" data-toggle="collapse" href="#row10" aria-expanded="false" aria-controls="row10"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 2 </span></td>
		</tr>
              </tbody>
	      <thead>
		<tr>
		  <th class="text-center">Podnaslov</th>
                </tr>
              </thead>
              <tbody>
                <tr class="up">
		<td><a class="btn btn-md" role="button" data-toggle="collapse" href="#row11" aria-expanded="false" aria-controls="row11"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 1 </span></td>
	        </tr>
		<tr class="up">
		<td><a class="btn btn-md" role="button" data-toggle="collapse" href="#row12" aria-expanded="false" aria-controls="row12"><span class="glyphicon glyphicon-play" aria-hidden="true"> Podkategorija 2 </span></td>
		</tr>
              </tbody>
	   </table>
          </div>
       </div>

       <!-- This section need's to toggle and display different text-->
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="naslov">
            <h1 class="text-center">Podnaslov</h1>
          </div>
          <hr>
          <div class="panel inner-div-3 collapse" id="collapseExample">
              <h1>Tekst Prvi</h1>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
             <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Close it!
              </button>

          </div>
        </div>
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="panel inner-div-3 collapse" id="row2">
          <h1>Tekst Drugi</h1>

            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
            <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#row2" aria-expanded="false" aria-controls="row2">
                Close it!
            </button>

          </div>
        </div>
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="panel inner-div-3 collapse" id="row3">
              <h1>Tekst Treci</h1>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
            <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#row3" aria-expanded="false" aria-controls="row3">
                Close it!
            </button>

          </div>
        </div>
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="panel inner-div-3 collapse" id="row4">
                <h1>Tekst Cetvrti</h1>

            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
            <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#row4" aria-expanded="false" aria-controls="row4">
                Close it!
            </button>

          </div>
        </div>
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="panel inner-div-3 collapse" id="row5">
              <h1>Tekst Peti</h1>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
            <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#row5" aria-expanded="false" aria-controls="row5">
                Close it!
            </button>

          </div>
        </div>
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="panel inner-div-3 collapse" id="row6">
              <h1>Tekst Sesti</h1>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
            <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#row6" aria-expanded="false" aria-controls="row6">
                Close it!
            </button>

          </div>
        </div>
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="panel inner-div-3 collapse" id="row7">
              <h1>Tekst Sedmi</h1>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
            <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#row7" aria-expanded="false" aria-controls="row7">
                Close it!
            </button>

          </div>
        </div>
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="panel inner-div-3 collapse" id="row8">
                <h1>Tekst Osmi</h1>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
            <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#row8" aria-expanded="false" aria-controls="row8">
                Close it!
            </button>

          </div>
        </div>
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="panel inner-div-3 collapse section9" id="row9">
                <h1>Teks Deveti</h1>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
            <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#row9" aria-expanded="false" aria-controls="row9">
                Close it!
            </button>

          </div>
        </div>
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="panel inner-div-3 collapse section10" id="row10">
                <h1>Tekst Deseti</h1>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
            <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#row10" aria-expanded="false" aria-controls="row10">
                Close it!
            </button>

          </div>
        </div>
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="panel inner-div-3 collapse section11" id="row11">
                <h1>Tekst Jedanest</h1>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
            <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#row11" aria-expanded="false" aria-controls="row11">
                Close it!
            </button>

          </div>
        </div>
        <div class="col-md-6 col-md-push-2 podnaslov">
          <div class="panel inner-div-3 collapse section12" id="row12">
                <h1>Tekst Dvanest</h1>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum consequuntur architecto quis, itaque cupiditate, atque aliquam. Qui delectus corporis quidem nisi molestiae ullam, ipsam sapiente corrupti, asperiores. Nobis, sed!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi unde et reprehenderit, qui, deserunt veritatis architecto pariatur, molestiae commodi consectetur deleniti consequatur laudantium dolore rem vitae nesciunt sed temporibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi et sint impedit laboriosam. Tenetur quidem perspiciatis repellat numquam vero similique, dolorum alias, distinctio dignissimos tempora, et, dicta quia laborum.</p>
            <button class="btn btn-default btn-right" type="button" data-toggle="collapse" data-target="#row12" aria-expanded="false" aria-controls="row12">
                Close it!
            </button>

          </div>
        </div>
      </div>

      <hr>

<!--==================Mega Footer============================-->
 <footer id="footerWrapper">
  <section id="mainFooter">
    <div class="container" id="footer">
      <div class="row">
        <div class="col-sm-6">
          <div class="footerWidget">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputText1">You'r Questions</label>
                <textarea class="form-control" id="exampleInputText1" placeholder="Textarea" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footerWidget">
            <h3>Book CLAW News</h3>
              <ul class="list-unstyled iconList">
                <li><a href="#">Solace of a lonely highway</a></li>
                <li><a href="#">Write with purpose</a></li>
                <li><a href="#">Tree on a lake</a></li>
                <li><a href="#">Don’t stop questioning</a></li>
                <li><a href="#">Overheard this morning</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footerWidget">
              <h3>Follow us, we are social</h3>
              <ul class="socialNetwork">
                <li><a href="#"><i class="fa fa-twitter-square fa-4x" style="color:#FFE4B5"></a></i></li>
                <li><a href="#"><i class="fa fa-facebook-square fa-4x" style="color:#FFE4B5"></a></i></li>
                <li><a href="#"><i class="fa fa-google-plus-square fa-4x" style="color:#FFE4B5"></a></i></li>
                <li><a href="#"><i class="fa fa-linkedin-square fa-4x" style="color:#FFE4B5"></a></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footerRights">
      <div class="container" id="boot">
        <div class="row">
          <div class="col-md-12 col-md-push-4">
            <p class="text">Copyright © 2014 <a href="http://www.ppilipovic84.com" target="blank">Book CLAW</a> / All rights reserved.</p>
          </div>

        </div>
      </div>
    </section>
</footer>

<!--=================end Footer====================================-->
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
